.clear {
  background-image: url("https://i.ibb.co/1XmBxWS/clear.jpg");
}

.clouds {
  background-image: url("https://i.ibb.co/xqhspqH/cloud.jpg");
}

.rain {
  background-image: url("https://i.ibb.co/4gKtJRv/rain.jpg");
}

.snow {
  background-image: url("https://i.ibb.co/rt5WbhG/neige.jpg");
}

.drizzle {
  background-image: url("https://i.ibb.co/JRkDGgh/OLYMPUS-DIGITAL-CAMERA.jpg");
}

.mist {
  background-image: url("https://i.ibb.co/FskchG9/mist.jpg");
}


body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 5);

  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 3em;
  position: relative;
}

i.wi {
  font-size: 5em;
  line-height: 3em;
}

h2 {
  font-size: 2em;
}

.tooltip {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 10px;
  color: #ffff;
  background-color: #222;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  transition: opacity .3s, top .5s;
}

h1:hover .tooltip {
  top: -60px;
  opacity: 1;

}